body {
	background-color: rgb(27, 27, 27);
	color: black;
	font-family: 'Lexend', sans-serif;
	font-weight: 500;
}

.black {
	color: black;
}

.skin {
	color: #FAD7AF;
}

.skin2 {
	color: #A47957;
}

.clothes1 {
	color: #BDAECB;
}

.clothes2 {
	color: #484649;
}

.clothes3 {
	color: #731A20;
}

.clothes4 {
	color: #71637D;
}

.wood1 {
	color: #252120
}

.wood2 {
	color: #F7A92D;
}

.wood3 {
	color: #613613
}

.metal {
	color: #A9A2B1;
}

.white {
	color: #FFFFFF;
}

